
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Bootstarp/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="~/Bootstarp/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>

</body>
</html>
