
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Bootstarp/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="~/Bootstarp/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    @*<ul>
            <li>1</li>
            <li>
                <a>2</a>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </li>
            <li>3</li>
            <li>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </li>
        </ul>
        <ol type="a">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    <!--<table>
        <caption>dasdasdasda</caption>
        <thead>
            <tr>
                <th>
                    12312
                </th>
                <th>
                    131231
                </th>
                <th>
                    11231
                </th>
                <th>
                    11231
                </th>
            </tr>
            <tr>
                <td>
                    1131
                </td>
                <td>
                    11231
                </td>
                <td>
                    11231
                </td>
                <td>
                    11231
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    1123
                </th>
                <th>
                    11321
                </th>
                <th>
                    1123
                </th>
                <th>
                    113
                </th>
            </tr>
            <tr>
                <td>
                    1123
                </td>
                <td>
                    1123
                </td>
                <td>
                    1123
                </td>
                <td>
                    1123
                </td>
            </tr>
        </tbody>
    </table>-->


    <table border="1px" width="500px" height="500px" cellpadding="">
        <caption align="">deed</caption>
        <thead>
            <tr>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="2"> 1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
            </tr>
            <tr>

                <td colspan="3">1</td>

            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
            </tr>
        </tfoot>
    </table>

</body>
</html>
